@import './reset.css';
@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('./fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('./fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf');
}
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow: hidden;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
